[Unit]
Description=mysql_exporter for delivering node metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
StandardOutput=journal
StandardError=journal
User={{ mysql_exporter.service_user }}
Group={{ mysql_exporter.service_group }}
ExecStart={{ mysql_exporter.bin_dir }}/mysql_exporter -config.my-cnf {{ mysql_exporter.config_dir }}/.my.cnf \
{% if mysql_exporter.option is defined -%}
{% for options in mysql_exporter.option -%}
-{{ options+" " }}
{%- endfor %}
{%- endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
